
.browser-controls {
    width: 200px;
    display: flex;
    flex: 0 0 200px;
    /*-webkit-app-region: auto;*/
}

.browser-controls a {
    flex: 1 0 0;
    position: relative;
    cursor: pointer;
}

#refresh svg {
    margin-top: -1px;
}

.browser-controls a:hover {
    background-color: #e2eaf8;
}

.browser-controls a:active svg {
    left: 11px;
}

.browser-controls a svg {
    position: absolute;
    left:9px;
    top:7px;
}
.browser-controls a#back:active svg {
    left:7px;
}

.browser-controls svg use {
    fill: rgba(0, 20, 4, 0.13);
}

.collection-tabs {
    position: absolute;
    top:0;
    display: flex;
    height: 31px;
    z-index: 10;
    width: 100%;
    background-color: #dee7f7;
    /*-webkit-appearance: none;*/
    /*-webkit-app-region: drag;*/
}

.collection-tab:hover {
    background-color: #e2eaf8;
}

#collection-tabs {
    display: flex;
    width: 100%;
    height: 100%;

}

#collection-tabs > div  {
    flex: 0 0 20%;
    box-sizing: border-box;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
    max-width: 20%;
    cursor: pointer;
    transition: none;
    color: #6b6b6b;

}

#collection-tabs > div svg {
    width: 100%;
    fill: #eeeff8;
}

#collection-tabs > div input {
    background: transparent;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    border: 0;
    cursor: pointer;
    /*letter-spacing: 0.5px;*/
    width: calc(100% - 29px);
    padding: 9px 0 7px 29px;
    -webkit-user-select: none;
    user-select: none;
}

#collection-tabs input::placeholder {
    position: relative;
    left: -15px;
    font: normal 13px "PT sans";
}

#collection-tabs input:focus::placeholder {
    line-height: 1.25em;
    color: #A6B7D0;
    letter-spacing:1px;
}

#collection-tabs > div.active-tab.editing {
    background-color: hsla(219, 61%, 90%, 1);
    box-shadow: inset 0px 1px 12px -3px rgb(146, 147, 150);
}

#collection-tabs > div input::placeholder { /* Firefox 18- */
    color: #c1ccd8;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    /*left: -14px;*/
}
#collection-tabs > div:nth-child(n + 6) {
    display: none;
}

#collection-tabs > div.active-tab {
    background: #E7F1FE;
    color: #000;

    max-width: 20%;
}

#collection-tabs > div.active-tab input {
    color: #000;
    font-weight: bold;
}

#collection-tabs > div:not(.active-tab) input{
    color: hsla(0, 0%, 0%, 0.5)
}

.addEmptyTabStyle{
    /*background: white;*/
    text-align: center;
}


.tab-item .tab-view-contents.addEmptyTabStyle span.title {
    font-weight: bold;
    color: #ddd;
    line-height: 20px;
    background: transparent;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 36px;
    letter-spacing: 1.7px;
    position: absolute;
    left: 50%;
    margin-top: -2px;
    margin-left: -16px;
}

.addEmptyTabStyle .favicon {
    display: none;
}