@import "hint.css";

#modals {
    display: none;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(255,255,255,1);
    text-align: left;
    /*pointer-events:none;*/
    box-sizing: border-box;

}
.showModals {

}

.showModals a {
    flex: 1 0 0;
}

#modals h1 {
    font-family: "PT Sans", sans-serif;
}

#modals .close-modal {
    position: fixed;
    transform: translate3d(0,0,0);
    display: block;
    width: 30px;
    text-align: center;
    right: 0;
    top: 66px;
    /*background: red;*/
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    color: #eee;
    cursor: pointer;
    /*transition: all .3s ease;*/
}

#modals .close-modal:hover {
    color: #989898;
}

.modals {
    justify-content: center;
}

.navBarModal {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.navBarModal a:hover {
    /*color: hsla(225, 73%, 40%, 1);*/
    background-color: hsla(200, 60%, 98.5%, 1);
    /*outline: 1px solid hsla(225, 73%, 65%, .05);*/
}

.collectionModal a {
    display: flex;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    /*transition: all .3s ease;*/
    color: hsla(225, 73%, 65%, 1);
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 50%;
    max-width: 50%;
    border-right: 1px solid hsla(225, 73%, 94%, .6);
    box-sizing: border-box;
    line-height: 1.36;
    padding: 10px 0 10px 10px;
}

.navBarModal a {
    display: flex;
    font-family: "PT Sans", sans-serif;
    border-right: 1px solid hsla(225, 73%, 94%, .6);
    color: hsla(225, 73%, 65%, 1);
    justify-content: flex-start;
    /*align-items: center;*/
    margin: 0;
    flex: 1 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    line-height: 1.36;
    padding: 10px 0 10px 10px;
}

.collectionModal, .helpModal, .navBarModal {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 70px 22% 30px 22%;
}

.collectionModal {
    padding: 0px 20% 30px calc(20% + 155px);
}

.navBarModal {
    padding: 30px 20% 30px calc(20% + 155px);
}

.navBarModal h1 {
    padding-top: 30px;
}

.collectionModal a:hover {
    /*color: hsla(225, 73%, 40%, 1);*/
    background-color: #fbfdfe;
    /*outline: 1px solid hsla(225, 73%, 65%, .05);*/
}

.collectionModal a {
    display: flex;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    /*transition: all .3s ease;*/
    color: hsla(225, 73%, 65%, 1);
    /*background-color: #fbfdfe;*/
    justify-content: flex-start;
    align-items: center;
    /*border: 1px solid #eee;*/
    /*margin: 4px;*/
    flex: 1 0 calc(50%);
    max-width: calc(50%);
    /*min-width: 200px;*/
    border-right: 1px solid hsla(225, 73%, 94%, .6);
    box-sizing: border-box;
    line-height: 1.36;
    padding: 10px 0 10px 10px;
}

@media all and (max-width: 1380px) {

    .collectionModal a, #webviews.active .collectionModal a {
        flex: 1 0 50%;
        max-width: 50%;
    }

}



.collectionModal h1, .navBarModal h1 {
    font-size: 20px;
    font-family: "PT Sans Caption", sans-serif;
    border-bottom: 1px solid hsla(225, 73%, 95%, 1);
    font-weight: normal;
    letter-spacing: 1px;
    flex: 1 0 0;
    color: hsla(225, 73%, 60%, 1);
    min-width: 100%;
    box-sizing: border-box;
    padding: 80px 0 15px 10px;
}

#modals.helpModal {
    background-color: rgba(254, 253, 255, 1);

}

#showOnStartCheckbox, #showOnStartLabel {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}
#showOnStartCheckbox {
    right: 200px;
}

#showOnStartLabel {
    font: normal 14px "PT Sans";
    right: 112px;
    bottom: 20px;
}

#helpHeading {
    font-size: 27px;
    line-height: 37px;
    font-weight: normal;
}


#modals.collectionModal .close-modal {
    /*background: green;*/
    right: 12px;
    top: 66px;
}