@import "hint.css";

#modals {
    display: none;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(255,255,255,1);
    text-align: left;
    /*pointer-events:none;*/
    box-sizing: border-box;

}
.showModals {

}

.showModals a {
    flex: 1 0 0;
}

#modals h1 {
    font-family: "PT Sans", sans-serif;
}

#modals .close-modal {
    position: absolute;
    display: block;
    width: 30px;
    text-align: center;
    right: 0;
    top: 0;
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    color: #eee;
    cursor: pointer;
    transition: all .3s ease;
}

#modals .close-modal:hover {
    color: #989898;
}

.modals {
    justify-content: center;
}

.navBarModal {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 200px 24%;

}

.navBarModal a:hover {
    /*color: hsla(225, 73%, 40%, 1);*/
    background-color: hsla(200, 60%, 98.5%, 1);
    /*outline: 1px solid hsla(225, 73%, 65%, .05);*/
}

.navBarModal a {
    display: flex;
    /*transition: all .3s ease;*/
    color: hsla(225, 73%, 65%, 1);
    background-color: #fbfdfe;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #eee;*/
    margin: 4px;
    flex: 1 0 0;
    min-width: 140px;
    max-width: 140px;
    height: 140px;
}

.collectionModal, .helpModal, .navModal {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 100px 24%;

}

.collectionModal a:hover {
    /*color: hsla(225, 73%, 40%, 1);*/
    background-color: #fbfdfe;
    /*outline: 1px solid hsla(225, 73%, 65%, .05);*/
}

.collectionModal a {
    display: flex;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 13px;
    /*transition: all .3s ease;*/
    color: hsla(225, 73%, 65%, 1);
    /*background-color: #fbfdfe;*/
    justify-content: flex-start;
    align-items: center;
    /*border: 1px solid #eee;*/
    /*margin: 4px;*/
    flex: 1 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    min-width: 100px;
    border-right: 1px solid hsla(225, 73%, 94%, 1);
    box-sizing: border-box;

    /*min-width: 140px;*/
    /*max-width: 140px;*/
    /*height: 140px;*/
    padding: 10px 10px;
}

.collectionModal h1 {
    font-size: 20px;
    font-family: "PT Sans Caption", sans-serif;
    border-bottom: 1px solid hsla(225, 73%, 95%, 1);
    font-weight: normal;
    letter-spacing: 1px;
    flex: 1 0 0;
    color: hsla(225, 73%, 60%, 1);
    min-width: 100%;
    padding-bottom: 10px;
    margin: 80px 0 20px 10px;
}

#modals.helpModal {
    background-color: rgba(254, 253, 255, 1);

}

#showOnStartCheckbox, #showOnStartLabel {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}
#showOnStartCheckbox {
    right: 200px;
}

#showOnStartLabel {
    font: normal 14px "PT Sans";
    right: 112px;
    bottom: 20px;
}

#helpHeading {
    font-size: 27px;
    line-height: 37px;
    font-weight: normal;
}