.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.3333em;
	background-color: inherit;
	z-index: 1;
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
#switch-task-button {
	height: 100%;
	padding: 0 78px 0 9px;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: .03em;
}
#switch-task-button span {
	position: relative;
	top: -2px;
}
#switch-task-button.active {
	color: royalblue !important;
}
#task-overlay {
	position: absolute;
	width: calc(20% + 159px);
	top: 66px;
	box-sizing: border-box;
	left: 0;
	height: calc(100% - 66px);
	border-right: 1px solid #c2ccd1;
	background-color: rgba(255,255,255, .9);
	white-space: nowrap;
	transition: all .3s ease;
	overflow: auto;
	opacity: 1;
	z-index: 100;
}

#task-overlay[hidden] {
	left: calc(-20% - 159px);
	width: calc(20% + 159px);
}
#task-overlay:not(.notMac):not(.fullscreen) {
	/*padding-top: 40px;*/
}
.task-container + .task-container {
	padding-top: 0.75em;
}

/* inputs */

.task-name {
	-webkit-appearance: none;
	appearance: none;
	font-family: 'PT Sans';
	font-weight: bold;
	flex: 1;
	font-size: 1.2em;
	color: inherit;
	border: 0;
	background: none;
	opacity: 0.75;
	margin: 0.5em;
}
.task-name::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.8;
}
input.task-name:focus::placeholder {
	color: transparent;
}

#add-task {
	/*position: fixed;*/
	/*top: 0;*/
	/*left: 10%;*/
	padding: 1.25em;
	text-align: center;
	color: inherit;
	background-color: rgb(245, 245, 245);
	cursor: pointer;
	z-index:1000;
}
#add-task:hover {
	background-color: rgb(235, 235, 235);
}
#add-task .fa {
	opacity: 0.75;
	margin-right: 0.25em;
}
.task-action-container {
	display: flex;
	align-items: center;
	padding-right: 1em;
}
.task-action-container i {
	cursor: pointer;
}
@media all and (max-width: 600px) {
	#task-overlay {
		padding: 10% 5% 5em 5%;
	}
	#add-task {
		width: 90%;
		left: 5%;
	}
}

body.dark-mode #task-overlay{
	background-color: rgb(40, 44, 52) !important;
	color: lightgrey;
}

.dark-mode #switch-task-button {
	color: #000;
	letter-spacing: 0.02em;
	font-family: "PT Sans",sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 0 38px 0 12px;
}

body.dark-mode #task-overlay #add-task {
	background-color: rgb(33, 37, 43) !important;
	color: lightgrey;
}


#taskSwitcherButton{

}

#task-overlay-navbar {display: none;}