.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.3333em;
	background-color: inherit;
	z-index: 1;
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
#switch-task-button {
	flex: 3 0 0;
	height: 100%;
	padding: 0;
	width: calc(100% - 50px);
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: .03em;
	text-align: left;
	cursor: pointer;
}

#switch-task-button:hover,
#add-tab-button:hover {
	background-color: rgba(255,255,255,.2);
}

#switch-task-button span {
	display: block;
	position: relative;
	top: 11px;
	left: 9px;
}
#switch-task-button:active span {
	left: 11px;
}
#switch-task-button.active {
	color: royalblue !important;
}
#task-overlay {
	position: absolute;
	width: calc(20% + 159px);
	top: 66px;
	box-sizing: border-box;
	left: 0;
	height: calc(100% - 66px);
	border-right: 1px solid #c2ccd1;
	background-color: rgba(255,255,255, .9);
	white-space: nowrap;
	transition: all .3s ease;
	overflow: auto;
	opacity: 1;
	z-index: 100;
}

#task-overlay .tab-close-button {
	color: red;
}

#task-overlay[hidden] {
	left: calc(-20% - 159px);
	width: calc(20% + 159px);
}
#task-overlay:not(.notMac):not(.fullscreen) {
	/*padding-top: 40px;*/
}
.task-container + .task-container {
	padding-top: 0.75em;
}

/* inputs */

.task-name {
	-webkit-appearance: none;
	appearance: none;
	font-family: 'PT Sans';
	font-weight: bold;
	flex: 1;
	font-size: 1.13em;
	color: inherit;
	border: 0;
	background: none;
	opacity: 1.05;
	margin: 8px 0 5px 28px;
	cursor: pointer;
}
.task-name::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.8;
}
input.task-name:focus::placeholder {
	color: transparent;
}

#add-task {
	font: normal 16px/45px "PT sans";
	text-align: center;
	color: inherit;
	background-color: #f0f7ff;
	cursor: pointer;
	z-index:1000;
}
#add-task:hover {

}
#add-task .fa {
	opacity: 0.75;
	margin-right: 0.25em;
}
.task-action-container {
	display: flex;
	align-items: center;
	padding-right: 7px;
}
.task-action-container i {
	cursor: pointer;
}
@media all and (max-width: 600px) {
	#task-overlay {
		padding: 10% 5% 5em 5%;
	}
	#add-task {
		width: 90%;
		left: 5%;
	}
}

body.dark-mode #task-overlay{
	background-color: rgb(40, 44, 52) !important;
	color: lightgrey;
}

.dark-mode #switch-task-button {
  	color: #000;
	letter-spacing: 0.02em;
	font-family: "PT Sans",sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 0 38px 0 12px;
}

body.dark-mode #task-overlay #add-task {
	background-color: rgb(33, 37, 43) !important;
	color: lightgrey;
}


#taskSwitcherButton{

}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #eee;
	-webkit-border-radius: 0ex;
	/*-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);*/
}

::-webkit-scrollbar-corner {
	background: #000;
}

#webviews webview {
	/*width: calc(100% + 1px);*/
}

#task-overlay .favicon {
	position: absolute;
	z-index: 10000;
	width: 16px;
	height: 16px;
	display: block;
	margin: 6px 6px 0 7px;
	float: left;
	border-radius: 2px;
	background: rgba(231, 241, 254, 0.4);
}



.task-tab-item { position: relative; }

.task-tabs-container .task-tab-item i {
	font-size: 0.9em;
	padding-top: 7px;
	text-align: center;
	width: 25px;
	position: absolute;
	top: 0;
	right: 1px;
	height: 20px;
	margin: 0;
	background: white;
}

.task-tabs-container .task-tab-item i:before { transition: opacity .2s ease; opacity: .08;}

.task-tabs-container .task-tab-item:hover {
	background: linear-gradient(to right, #e8eef7 -200%, white );
}

.task-tabs-container .task-tab-item:hover i {
	/*background: red;*/
}

.task-tabs-container .task-tab-item i:hover:before {
	opacity: 1;
}

.task-tab-item.fakefocus .title {
	font-weight: bold;
	font-size: 13.5px;
	color: #333;
	font-family: "PT sans";
}

.task-action-container i {
	color: #ddd;
	padding: 8px;
	position: relative;
	right: -7px;
}

.task-action-container i:hover {
	color: #aaa;
}

.task-action-container i:before {
	position: relative;
	right: -1px;
}