/* window controls */

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    width: 76px;
    display: flex;
    height: 31px;
    top: 0;
    right: 0;
    z-index: 1112;
}

#title-bar-btns a {
    flex: 1 0 0;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;

}
#title-bar-btns a:active {
    /*top: -1px;*/
    right: -2px;
}
#title-bar-btns a:hover {
    background-color: #e2eaf8;
}

#min-btn {}
#max-btn {}
#close-btn {}


#title-bar-btns a svg {
    position: relative;
    top: 5px;
    right: -8px;
}


#title-bar-btns a#close-btn {padding: 0 2px 0 0;}

#title-bar-btns #close-btn:hover svg use {

}